* {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}
body {
    background: #f9f9f9;
}
section.form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.form form {
    background: #fff;
    box-shadow:  0 0 20px 0 rgba(62,28,131,0.1);
    border-radius: 5px;
    padding: 50px;
    min-width: 320px;
    width: 400px;
}
section.form form > * {
    margin-bottom: 1em;
}
section.form form h1 {
    text-align: center;
}
section.form form .form-group {
    border-bottom: 3px solid #ddd;
    position: relative;
}
section.form form .form-group.form-error label{
    color: red;
}
section.form form .form-group label {
    font-weight: 700;
    font-size: 1em;
    transition: .3s ease-in;
    position: absolute;
    top: 10px;
    left: 0;
    color: #636e72;
}

section.form form .form-group .form-input {
    padding: 10px 5px;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}
section.form form .form-group::after {
    content: "";
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background: #636e72;
    position: absolute;
    bottom: -3px;
    transition: 0.3s ease-in;
}
section.form form .form-group:hover::after {
    width: 100%;
}
.error {
    font-size: 12px;
    color: red;
}
.btn-submit {
    border: none;
    outline: none;
    background: #2ecc71;
    padding: 0.7em 2em;
    color: #fff;
    font-weight: 900;
    font-size: 1.1em;
    transition: .3s linear;
}
.btn-submit:hover {
    background: #27ae60;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.noti > .success {
    padding: 20px;
    background: #44bd32;
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    position: fixed;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    animation: error 3s cubic-bezier(0.4, 0, 1, 1) 1;
}
@keyframes success {
    0% {
        top: -200px;
    }
    10% {
        top: 50px;
    }
    90% {
        top: 50px;
    }
    100% {
        top: -200px;
    }
}
.noti > .error {
    padding: 20px;
    background: red;
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    position: fixed;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    animation: error 3s cubic-bezier(0.4, 0, 1, 1) 1;
}
@keyframes error {
    0% {
        top: -200px;
    }
    10% {
        top: 50px;
    }
    90% {
        top: 50px;
    }
    100% {
        top: -200px;
    }
}